form{
   size: 100%;
    resize: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;


    border-style: ridge;
    border: 2px solid black;

    
    border-radius: 20px;
    background-color: blueviolet;
    width:25%;
    margin-left: 40%;
    margin-top: 1%;
     
   
}
#text{
    
    height: 20px;
    width: 25%;
}
#head{
    text-align: center;
    width: auto;
}
#submit{    
    width: 96%;
    height: 100%;
    
}
textarea{
    resize: none;
    width: 95%;
}
#text{
    width: 95%;
}
body{
    background-color: springgreen;
}